<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="stylesheet" href="/css/admin.css">
    <span th:if="${currentUser != null}">
            Logget ind som: <span th:text="${currentUser.email}">email@example.com</span>
        </span>
    <a th:if="${currentUser != null}" th:href="@{/logout}">Log ud</a>
    <a th:if="${currentUser == null}" th:href="@{/login}">Log ind</a></header>
<head>
    <title>Admin Panel</title>
</head>
<body>

<section>
    <h2>Tilføj saldo til bruger</h2>
    <form th:action="@{/admin/addBalance}" method="post">
        <label for="userId">Bruger ID:</label>
        <input type="number" id="userId" name="userId" required><br>

        <label for="amount">Beløb at tilføje:</label>
        <input type="number" id="amount" name="amount" step="0.01" required><br>

        <button type="submit">Tilføj beløb</button>
    </form>
</section>

<hr>

<hr>

<section>
    <h2>Ordrelinjer</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Ordre ID</th>
            <th>Bottom</th>
            <th>Topping</th>
            <th>Quantity</th>
            <th>Linjepris</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="line : ${orderLines}">
            <td th:text="${line.orderId}"></td>
            <td th:text="${line.bottomFlavour}"></td>
            <td th:text="${line.topFlavour}"></td>
            <td th:text="${line.quantity}"></td>
            <td th:text="${line.linePrice}"></td>

            <td>
                <form th:action="@{/admin/deleteOrder}" method="post">
                    <input type="hidden" name="orderId" th:value="${line.orderId}" />
                    <button type="submit">Slet ordre</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</section>

<p th:if="${message}" th:text="${message}" style="color:green;"></p>

</body>
</html>